<footer>
  <div class="footerNav">
    <ul>

      <li>
        <a target="_blank" href="mailto:rashnarazdan@gmail.com?Subject=Portfolio">
          <img src="assets/images/mail.svg">
        </a>
      </li>
      <li>
        <a target="_blank" href="http://www.linkedin.com/in/rashnarazdan">
          <img src="assets/images/linkedIn.svg">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/rrazd">
          <img src="assets/images/github.svg">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://dribbble.com/rrazdan">
          <img src="assets/images/dribbble.svg">
        </a>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <span class="disclaim">&copy; Copyright Rashna Razdan.</span>
  </div>
</footer>