<header class="homepage-header">
  <div class="clearfix">
    <a href="#welcome" class="logo">
      <svg width="31px" height="40px" viewBox="0 0 37 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>logo</title>
        <desc>Created with Sketch.</desc>
        <defs></defs>
        <g id="svg_logo" stroke="none" stroke-width="1" fill-rule="evenodd">
          <g id="Desktop-Copy" transform="translate(-47.000000, -35.000000)">
              <g id="logo" transform="translate(47.000000, 35.000000)">
                  <polygon class="shape" id="Rectangle-1" fill="#ffffff" points="-1.77635684e-15 22 8.18181818 22 25.4545455 44.95 16.8181818 44.95"></polygon>
                  <path class="shape" id="Rectangle-2" fill="#ffffff" d="M4.56587318,6.94466107 L0.433575492,0.468250709 C1.88173916,0.411291692 9.06288825,0.136128655 12.6420455,0.136128655 C26.3778445,0.136128655 30,4.82224446 30,14.0983064 C30,22.5812293 25.991507,26.1678472 17.7822876,26.7191687 L13.722549,21.2389536 C14.1039397,21.2777565 14.484372,21.2978044 14.8609423,21.2978044 C19.679345,21.2978044 23.4044527,20.1596888 23.4044527,14.1591218 C23.4044527,8.15855486 20.2072203,6.9063034 13.3163265,6.9063034 C12.8417759,6.9063034 12.3912099,6.92241135 11.9635756,6.95366817 L11.9666048,6.94350014 L4.56587318,6.94466107 Z" id="Combined-Shape"></path>
                  <rect class="shape" id="Rectangle-3" fill="#ffffff" x="31" y="38" width="6" height="7"></rect>
              </g>
          </g>
        </g>
      </svg>
    </a>
    <nav class="top-menu">
      <ul>
        <li data-menuanchor="welcome"><a href="#welcome">Home</a></li>
        <li data-menuanchor="allProjects"><a href="#allProjects">All Work</a></li>
        <li data-menuanchor="about"><a href="#about">About</a></li>
        <li data-menuanchor="contact"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <!-- Hamburger, yum! -->
    <a href="#" class="toggle-menu">
        <span></span>
    </a>
    <!-- Mobile menu -->
    <div id="mobile-menu">
      <div class="inner-wrap">
        <nav>
          <ul class="nav_menu">
            <li data-menuanchor="welcome" class="menu-item">
              <a href="#welcome">Home</a>
            </li>
            <li data-menuanchor="allProjects" class="menu-item">
              <a href="#allProjects">All Work</a>
            </li>
            <li data-menuanchor="about" class="menu-item">
              <a href="#about">About</a>
            </li>
            <li data-menuanchor="contact" class="menu-item">
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>