.allProjectsBody {
  background-color: #F5F5F5;
}
/* Header */
.all-projects-header {
  height: 73px;
}
.all-projects-header .back-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* End of header */

/* All projects list container */
.project-contents {
  position: relative;
  margin: 0 auto;
  padding: 0 32px;
}
.project-content {
  position: relative;
  display: block;
  height: 300px;
  transition: all 0.3s ease-in-out;
}
.project-content.project-summary.end {
  height: auto;
  padding: 30px;
  color: #000;
  line-height: 1.67;
  font-size: 18px;
  text-align: center;
}
.clap {
  font-size: 24px;
}
.project-content:not(:last-child) {
  margin-bottom: 20px;
}
.project-content.project-summary {
  padding: 0;
}
.project-content.expand {
  height: 480px;
}
.project-text-container-wrapper {
  position: relative;
  z-index: 2;
  width: 50%;
}
.project-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
  flex: 1;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  line-height: 1.6875;
  font-size: 18px;
}
.project-text-container a {
 line-height: 1.6875;
}
.project-text-container .animated-link {
  color: #fff;
  transition: all 0.03s ease-in-out;
}
.project-text-container .animated-link #Line,
.project-text-container .animated-link #Triangle {
  transition: all 0.03s ease-in-out;
}
.project-text-container .animated-link:hover #Line,
.project-text-container .animated-link:hover #Triangle {
  stroke: #3D3DF8;
  fill: #3D3DF8;
}
.project-text-container .animated-link span {
  transition: all 0.3s ease-in-out;
}
/* Learn more */
.project-text-container.learn-more-text {
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
}
.project-text-container.project-text-container-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(-50%);
  top: 50%;
}
.project-text-container.project-text-container-hide {
  opacity: 0;
  visibility: hidden;
}
/* End of Learn more */

.project-content {
  vertical-align: -webkit-baseline-middle;
  font-size: 16px;
  color: #fff;
  font-family: "Proxima_nova_sbold";
  z-index: 2;
  position: relative;
}
.project-content.expand .project-overlay {
  opacity: 1;
}
.project-content.expand .project-bg {
  opacity: 0;
}
.project-links {
  list-style: none;
}

.project-link {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.project-logo {
  color: #fff;
  width: 100%;
  padding-top: 20px;
}
.project-logo .zscaler-logo {
  width: 40%;
  min-width: 132px;
  max-width: 285px;
}
.project-logo .nexj-logo {
  width: 25%;
  min-width: 80px;
  max-width: 160px;
}
.project-logo .eresources-logo {
  width: 60%;
  min-width: 186px;
  max-width: 285px;
}
.project-logo .iteris-logo {
  width: 30%;
  min-width: 100px;
  max-width: 130px;
}
.project-logo .riverbed-logo {
  width: 30%;
  min-width: 100px;
  max-width: 145px;
}
.project-logo .hpe-logo {
  width: 67%;
  min-width: 200px;
  max-width: 350px;
}
.project-logo .mcafee-logo {
  width: 45%;
  min-width: 160px;
  max-width: 235px;
}
.category-description {
  font-size: 35px;
}
.project-text {
  color: #fff;
  padding: 20px 0;
  width: 100%;
  letter-spacing: 0.7px;
}
.project-text a {
  color: #fff;
  position: relative;
}
.project-text a:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -2px;
  right: 0;
  transform: translate3d(0,0,0);
  transition: all .4s;
  transition-timing-function: cubic-bezier(.7,0,.3,1);
  border-radius: 2px;
  background-color: #e7eaf3;
}
.project-snippet {
  position: relative;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  max-width: 1160px;
  transition: opacity .3s ease-in-out;
}
.project-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: linear-gradient(-180deg,rgba(20, 25, 31, 0.65) 0,rgba(86, 92, 114, 0.5) 100%);
  opacity: 1;
  transition: all .3s ease-in-out;
}
.zscaler .project-bg {
  background-image: linear-gradient(-180deg,rgba(30, 62, 111, 0.85) 0,rgba(61, 64, 48, 0.82) 100%);
}
.hpe .project-bg, .mcafee .project-bg, .riverbed .project-bg {
  background-image: linear-gradient(-180deg,rgba(59, 62, 66, 0.38) 0,rgba(55, 57, 64, 0.68) 100%);
}

.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.nexj .project-overlay {
  background-image: linear-gradient(135deg, #59c5a6 0%, #258267 100%);
}
.eresources .project-overlay {
  background-image: linear-gradient(135deg, #14191F 0%, #383D50 100%);
}
.iteris .project-overlay {
  background-image: linear-gradient(135deg, #579fdc 0%, #6078ea 100%);
}
.hpe .project-overlay {
  background-image: linear-gradient(135deg, #f5a368 0%, #F38181 100%);
}
.riverbed .project-overlay {
  background-image: linear-gradient(135deg, #457fca 0%, #5691c8 100%);
}
.mcafee .project-overlay {
  background-image: linear-gradient(135deg, #cb2d3e 0%, #ef473a 100%);
}
.project-img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}
.project-img {
  background-size: cover;
  background-position: 0;
  height: 100%;
  width: 100%;
}
.zscaler .project-img {
  background-image: url(../images/allProjects/zscaler.jpg);
}
.nexj .project-img {
  background-image: url(../images/allProjects/nexj.jpg);
}
.eresources .project-img {
  background-image: url(../images/allProjects/eresources.jpg);
}
.iteris .project-img {
  background-image: url(../images/allProjects/iteris.jpg);
}
.hpe .project-img {
  background-image: url(../images/allProjects/hpe.jpg);
}
.riverbed .project-img {
  background-image: url(../images/allProjects/riverbed.jpg);
}
.mcafee .project-img {
  background-image: url(../images/allProjects/mcafee.jpg);
}
.project-result-container {
  z-index: 3;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.nexj .project-result-container {
  width: 328px;
}
.eresources .project-result-container {
  width: 51%;
  min-width: 418px;
}
.zscaler .project-result-container {
  width: 37%;
}
.iteris .project-result-container,
.hpe .project-result-container,
.riverbed .project-result-container {
  width: 50%;
  min-width: 436px;
}
.mcafee .project-result-container {
  width: 45%;
  min-width: 436px;
}
.project-result-container img {
  width: 100%;
  position: absolute;
}
.nexj .project-result-container img {
  bottom: 0;
}
.zscaler .project-result-container img,
.eresources .project-result-container img,
.iteris .project-result-container img,
.hpe .project-result-container img,
.riverbed .project-result-container img {
  transform: translateY(-50%);
  top: 50%;
}
.mcafee .project-result-container img {
  bottom: -60px;
}
/* End of all projects structure */

.projects-page-title-container {
  padding: 130px 0 30px;
  text-align: center;
  font-size: 60px;
  font-family: "Proxima_nova_bold", serif;
  color: #23252C;
  letter-spacing: -0.8px;
  line-height: 1.05;
}
.projects-page-title-container .all-work {
  font-family: "Playfair_display_bold_italic";
  font-size: 26px;
  color: #23252C;
  padding-bottom: 10px;
}
.projects-page-title-container hr {
  margin: 20px auto 45px;
  height: 2px;
  background: #0000ff;
  max-width: 200px;
  border: 0;
}
@media only screen and (max-width: 1210px) {
  .project-text-container {
    font-size: 16px;
  }
  .category-description {
    font-size: 25px;
  }
}
@media only screen and (max-width: 845px) {
  .projects-page-title-container {
    font-size: 50px;
  }
  .project-snippet.flex-container {
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
  }
  .project-contents {
    padding: 0 25px;
  }
  .project-result-container {
    display: none;
  }
  .project-text-container {
    align-self: flex-start;
    width: auto;
  }
  .project-content.project-summary.end {
    font-size: 16px;
  }
  .project-text-container-wrapper {
    width: 100%;
  }
  .zscaler .project-bg {
    background-image: linear-gradient(-180deg,rgba(52, 69, 97, 0.58) 0,rgba(48, 53, 64, 0.75) 100%);
  }
}
@media only screen and (max-width: 645px) {
  .projects-page-title-container {
    font-size: 40px;
    padding: 80px 0 10px;
  }
  .projects-page-title-container hr {
    margin: 20px auto 25px
  }
}
@media only screen and (min-width: 545px) {
  .project-content {
    height: 480px;
  }
}
@media only screen and (min-width: 846px) {
  .zscaler .project-img {
    background-image: url(../images/allProjects/zscaler-banner.jpg);
  }
  .nexj .project-img {
    background-image: url(../images/nexj/nexj-banner.jpg);
  }
  .eresources .project-img {
    background-image: url(../images/eresources/eresources-banner.jpg);
  }
  .iteris .project-img {
    background-image: url(../images/iteris/iteris-banner.jpg);
  }
  .hpe .project-img {
    background-image: url(../images/allProjects/hpe-banner.jpg);
  }
  .riverbed .project-img {
    background-image: url(../images/allProjects/riverbed-banner.jpg);
  }
  .mcafee .project-img {
    background-image: url(../images/allProjects/mcafee-banner.jpg);
  }
}
@media only screen and (min-width: 1300px) {
  .zscaler .project-result-container,
  .nexj .project-result-container {
    width: 40%;
  }
  .eresources .project-result-container,
  .iteris .project-result-container {
    width: 55%;
  }
  .mcafee .project-result-container {
    width: 50%;
  }
}