/* Main Header Banner */
.nexj-banner {
  background-image: url(../images/nexj/nexj-banner.jpg);
}
img.nexj-logo {
  width: 57.61%;
  padding-bottom: 10px;
}
/* End of Main Header Banner */

/* Research Summary */
.nexj-research-section-img {
  width: 96.27%;
}
/* End of Research Summary */

/* IA */
.nexj-ia-section-img {
  padding-bottom: 0;
}
/* End of IA */

/* Visuals */
/* End of Visuals */

/* Prototyping */
/* End of Prototyping */

/* Results */
/* End of Results */

