<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{page.description}}" name="description" />
  <meta content="{{page.keywords}}" name="keywords" />
  <meta name="author" content="Rashna Razdan">

  <link rel="stylesheet" href="assets/css/homepage.css">
  <link rel="stylesheet" href="assets/css/allProjects.css">
  <link rel="stylesheet" href="assets/css/caseStudy.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffff">

  <style type="text/css">
    .loader {
      height: 100vh;
      width: 100vw;
      background-color: #fff;
      opacity: 1;
      transition: all 0.5s ease;
      position: fixed;
      z-index: 10;
    }
  </style>

  <title>Rashna Razdan | UX Design</title>
</head>

<body class="allProjectsBody">
  <div class="loader"></div>
  {% include allProjectsHeader.html %}
      <div class="projects-page-title-container">
        <div class="all-work">/All Work</div>
        <div>USER CENTERED DESIGN</div>
        <hr>
      </div>
      <ul class="project-contents">
        <!-- LinkedIn Admin Center -->
        <li class="project-content project-summary linkedin linkedin-admin-center">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Web app"></canvas>
              </div>
              <div class="project-logo">
                <img class="linkedin-logo lazy" data-original="assets/images/linkedin/linkedin_logo.png">
              </div>
              <div class="project-text">
                Post purchase management
              </div>
              <div class="view-case-link-container">
                <span>Contact for more information</span>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/linkedin/admin_center_result.png">
            </div>
          </div>
        </li>
        <!-- LinkedIn Product Catalog -->
        <li class="project-content project-summary linkedin linkedin-product-catalog">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Web app"></canvas>
              </div>
              <div class="project-logo">
                <img class="linkedin-logo lazy" data-original="assets/images/linkedin/linkedin_logo.png">
              </div>
              <div class="project-text">
                Product catalog
              </div>
              <div class="view-case-link-container">
                <span>Contact for more information</span>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/linkedin/product_catalog_result.png">
            </div>
          </div>
        </li>
        <!-- LinkedIn Solution Builder -->
        <li class="project-content project-summary linkedin linkedin-solution-builder">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Web app"></canvas>
              </div>
              <div class="project-logo">
                <img class="linkedin-logo lazy" data-original="assets/images/linkedin/linkedin_logo.png">
              </div>
              <div class="project-text">
                Sales quote creation
              </div>
              <div class="view-case-link-container">
                <span>Contact for more information</span>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/linkedin/solution_builder_result.png">
            </div>
          </div>
        </li>
        <!-- ZSCALER -->
        <li class="project-content project-summary zscaler">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Web app"></canvas>
              </div>
              <div class="project-logo">
                <img class="zscaler-logo lazy" data-original="assets/images/zscaler/zscaler_logo.png">
              </div>
              <div class="project-text">
                Operations Dashboard to monitor events or activities.
              </div>
              <div class="view-case-link-container">
                <a href="zscalerCaseStudy" class="blue-link animated-link">
                <span>
                  View case study
                  <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                      <title>Group 6</title>
                      <desc>Created with Sketch.</desc>
                      <defs></defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Group-6" transform="translate(1.000000, 0.000000)">
                              <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                              <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                          </g>
                      </g>
                  </svg>
                </span>
              </a>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/zscaler_preview.png">
            </div>
          </div>
        </li>
        <!-- NEXJ -->
        <li class="project-content project-summary nexj">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Web App"></canvas>
              </div>
              <div class="project-logo">
                <img class="nexj-logo lazy" data-original="assets/images/nexj/nexj-logo.png">
              </div>
              <div class="project-text">
                Building the future of healthcare via a mobile first approach.
              </div>
              <a href="nexjCaseStudy" class="blue-link animated-link">
                <span>
                  View case study
                  <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                      <title>Group 6</title>
                      <desc>Created with Sketch.</desc>
                      <defs></defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Group-6" transform="translate(1.000000, 0.000000)">
                              <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                              <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                          </g>
                      </g>
                  </svg>
                </span>
              </a>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/allProjects/nexj_result.png">
            </div>
          </div>
        </li>
        <!-- ERESOURCES -->
        <li class="project-content project-summary eresources">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Website"></canvas>
              </div>
              <div class="project-logo">
                <img class="eresources-logo lazy" data-original="assets/images/eresources/eresources-logo.png">
              </div>
              <div class="project-text">
                Clean website for a full-service technology firm.
              </div>
              <div class="view-case-link-container">
                <a href="eresourcesCaseStudy" class="blue-link animated-link">
                <span>
                  View case study
                  <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                      <title>Group 6</title>
                      <desc>Created with Sketch.</desc>
                      <defs></defs>
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <g id="Group-6" transform="translate(1.000000, 0.000000)">
                              <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                              <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                          </g>
                      </g>
                  </svg>
                </span>
              </a>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/allProjects/eresources_result.png">
            </div>
          </div>
        </li>
        <!-- ITERIS -->
        <li class="project-content project-summary iteris">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container">
              <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                <canvas class="canvas-text" data-text="Website"></canvas>
              </div>
              <div class="project-logo">
                <img class="iteris-logo lazy" data-original="assets/images/iteris/iteris-logo.svg">
              </div>
              <div class="project-text">
                Multi phase website redesign to improve UX.
              </div>
              <div class="view-case-link-container">
                <a href="iterisCaseStudy" class="blue-link animated-link">
                  <span>
                    View case study
                    <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                        <title>Group 6</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Group-6" transform="translate(1.000000, 0.000000)">
                                <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                                <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                            </g>
                        </g>
                    </svg>
                  </span>
                </a>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/allProjects/iteris_result.png">
            </div>
          </div>
        </li>
        <!-- HPE -->
        <li class="project-content project-summary hpe">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container-wrapper">
              <div class="project-text-container preview-text">
                <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                  <canvas class="canvas-text" data-text="Web app"></canvas>
                </div>
                <div class="project-logo">
                  <img class="hpe-logo lazy" data-original="assets/images/allProjects/hpe-logo.svg">
                </div>
                <div class="project-text">
                  Responsive application designed to present complex data.
                </div>
                <div class="view-case-link-container">
                  <a href="hpeCaseStudy" class="blue-link animated-link">
                    <span>
                      View case study
                      <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                          <title>Group 6</title>
                          <desc>Created with Sketch.</desc>
                          <defs></defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Group-6" transform="translate(1.000000, 0.000000)">
                                  <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                                  <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                              </g>
                          </g>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/allProjects/hpe_result.png">
            </div>
          </div>
        </li>
        <!-- RIVERBED -->
        <li class="project-content project-summary riverbed">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container-wrapper">
              <div class="project-text-container preview-text">
                <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                  <canvas class="canvas-text" data-text="Website"></canvas>
                </div>
                <div class="project-logo">
                  <img class="riverbed-logo lazy" data-original="assets/images/allProjects/riverbed-logo.svg">
                </div>
                <div class="project-text">
                  Creating a steamlined user experience leveraging analytics.
                </div>
                <div class="view-case-link-container">
                  <a class="blue-link animated-link">
                    <span>
                      Learn more
                      <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                          <title>Group 6</title>
                          <desc>Created with Sketch.</desc>
                          <defs></defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Group-6" transform="translate(1.000000, 0.000000)">
                                  <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                                  <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                              </g>
                          </g>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
              <div class="project-text-container learn-more-text">
                <div class="project-text">
                  I was part of the UX website redesign team tasked with optimizing IA, creating infographics (<a href="https://www.riverbed.com/products/steelhead/steelhead-sd-infographic.html">Steelhead SD</a>) and integrating UX best practices. Throughout the project I monitored critical metrics, like goal completion, to understand where the design was underperforming. <a href="http://www.riverbed.com" target="_blank">View site</a>.
                </div>
                <div class="view-case-link-container">
                  <a class="blue-link animated-link goBack">
                    <span>
                      Go back
                      <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                          <title>Group 6</title>
                          <desc>Created with Sketch.</desc>
                          <defs></defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Group-6" transform="translate(1.000000, 0.000000)">
                                  <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                                  <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                              </g>
                          </g>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/allProjects/riverbed_result.png">
            </div>
          </div>
        </li>
        <!-- MCAFEE -->
        <li class="project-content project-summary mcafee">
          <div class="project-img-container">
            <div class="project-img"></div>
          </div>
          <div class="project-overlay"></div>
          <div class="project-bg"></div>
          <div class="project-snippet flex-container">
            <div class="project-text-container-wrapper">
              <div class="project-text-container preview-text">
                <div class="category-description" style="font-family: 'Proxima_nova_bold'">
                  <canvas class="canvas-text" data-text="Website"></canvas>
                </div>
                <div class="project-logo">
                  <img class="mcafee-logo lazy" data-original="assets/images/allProjects/mcafee-logo.svg">
                </div>
                <div class="project-text">
                  Revamping a tech giant's website to increase engagement.
                </div>
                <div class="view-case-link-container">
                  <a class="blue-link animated-link">
                    <span>
                      Learn more
                      <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                          <title>Group 6</title>
                          <desc>Created with Sketch.</desc>
                          <defs></defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Group-6" transform="translate(1.000000, 0.000000)">
                                  <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                                  <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                              </g>
                          </g>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
              <div class="project-text-container learn-more-text">
                <div class="project-text">
                  I led UX (Phase 2) for creating a responsive website that helped McAfee deliver on their mission. The website needed to communicate their story, convey the value of specific departments and stand-apart. We did a complete overhaul of the UI/UX to make the site unmistakably intuitive.
                  <a href="https://www.mcafee.com/uk/business-home.aspx" target="_blank">
                    View site
                  </a>.
                </div>
                <div class="view-case-link-container">
                  <a class="blue-link animated-link goBack">
                    <span>
                      Go back
                      <svg width="16px" height="8px" viewBox="0 0 16 8" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                          <title>Group 6</title>
                          <desc>Created with Sketch.</desc>
                          <defs></defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <g id="Group-6" transform="translate(1.000000, 0.000000)">
                                  <path d="M0,4 L10,4" id="Line" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                                  <polygon id="Triangle" fill="#FFFFFF" transform="translate(12.500000, 3.959961) rotate(90.000000) translate(-12.500000, -3.959961) " points="12.5 1.85996094 16 6.05996094 9 6.05996094"></polygon>
                              </g>
                          </g>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="project-result-container">
              <img class="lazy" data-original="assets/images/allProjects/mcafee_result.png">
            </div>
          </div>
        </li>
        <li class="project-content project-summary end">
          <p>
            Good job, you've reached the end <span class="clap">&#x1f44f;</span>.
          </p>
        </li>
      </ul>
  {% include footer.html %}
  <script src="assets/js/ext/jquery-3.1.1.min.js"></script>
  <script src="assets/js/ext/jquery.lazyload.js"></script>
  <script src="assets/js/caseStudy.js"></script>
  <script src="assets/js/allProjects.js"></script>
</body>
</html>
