<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <meta name="author" content="Rashna Razdan">

  <link rel="stylesheet" href="assets/css/homepage.css">
  <link rel="stylesheet" href="assets/css/caseStudy.css">
  <link rel="stylesheet" href="assets/css/hpeCaseStudy.css">
  <link rel="stylesheet" href="assets/css/slider.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff">

  <style type="text/css">
    .loader {
      height: 100vh;
      width: 100vw;
      background-color: #ffffff;
      opacity: 1;
      transition: opacity 0.5s ease;
      position: fixed;
      z-index: 1;
    }
  </style>

  <title>{{ page.title }}</title>

</head>
<body>
  <div class="loader"></div>
  {% include caseStudyHeader.html %}
  <div class="hpe-banner banner">
    <div class="banner-layer">
      <div class="container-width flex-container">
        <div class="left-container">
          <img class="hpe-logo lazy" data-original="assets/images/hpe/hpe-logo.svg">
          <div class="banner-description" style="font-family: 'Proxima_nova_bold'">
            <canvas class="canvas-text" data-text="Envisioning the digital"></canvas>
            <canvas class="canvas-text" data-text="future of informatics."></canvas>
            <!-- Creating the future of online healthcare. -->
          </div>
        </div>
        <div class="right-container">
          <img class="banner-display lazy" data-original="assets/images/hpe/banner-image.png">
        </div>
      </div>
    </div>
  </div>
  <div class="project-summary hpe-project-summary">
   <div class="container-width flex-container">
      <div class="story">
        <div class="description">
            As the UI/UX lead, my task was to design the MVP version of the Clearpass App; this involved working closely with HPE’s product, design and engineering teams. The application’s main features included device and user discovery, wired and wireless access control, attack detection and adaptive response – based on set policies. Aruba had core requirements available however many product features were shaped by ideas brought forth as a result of the UI/UX presentations.
        </div>
      </div>
      <div class="role-section">
        <div class="technologies">
          <div class="header">Technologies</div>
          <ul>
            <li>GROMMET FRAMEWORK</li>
            <li>REACT.JS</li>
            <li>INVISION</li>
            <li>SKETCH</li>
            <li>PRINCIPLE</li>
          </ul>
        </div>
        <div class="solutions">
          <div class="header">Solutions Provided</div>
          <ul>
            <li>RESEARCH</li>
            <li>INFORMATION ARCHITECTURE</li>
            <li>INTERACTION DESIGN</li>
            <li>VISUAL DESIGN</li>
            <li>MOTION DESIGN</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="research-section">
    <div class="container-width flex-container">
      <div class="research-section-left hpe-research-section-left">
        <div class="section-number-top">
          01
        </div>
        <div class="section-title">
          Research
        </div>
        <div class="description">
          Having talked through the requirements with the PM lead, I focused on researching competitors (i.e. Microsoft MCAS, Zingbox) and understanding the main persona’s we were targeting. This research provided useful insights and valuable ideas that I used in the project.
        </div>
        <img class="research-section-img hpe-research-section-img lazy" data-original="assets/images/hpe/research.png">
        <div class="label">
          <div class="blue-label-line label-line"></div>
          <div class="label-title">REFERENCES</div>
          <div class="label-description">
            Some of the UI style references gathered for project.
          </div>
        </div>
      </div>
      <div class="research-section-right hpe-research-section-right description">
        <div class="emphasize">Getting Familiar with the Grommet</div>
        <br/>
        Throughout this project I had to work very closely with HPE’s Grommet design team. The Clearpass App would be implemented using Grommet React components thus I had to familiarize myself with their design system in order to ensure a smooth Engineering handoff. I didn’t want to be constrained by the basic Grommet components so I took it upon myself to explore within CodePen how customizable the components could be. I was able to build upon and extend the components and therefore had a solid understanding about what was feasible to design.
      </div>
    </div>
  </div>
  <div class="two-three-container hpe-two-three-container">
  <div class="stripe" id="stripe-one"></div>
    <div class="container-width">
      <div class="ia-section flex-container">
        <div class="ia-left hpe-ia-left">
          <img class="ia-section-img .hpe-ia-section-img lazy" data-original="assets/images/hpe/ia.png">
          <div class="label">
            <div class="blue-label-line label-line"></div>
            <div class="label-title">NAVIGATION</div>
            <div class="label-description">
              One of the navigation options highlighting key stats.
            </div>
          </div>
        </div>
        <div class="ia-right hpe-ia-right">
          <div class="section-number-top">
            02
          </div>
          <div class="section-title">
            Information Architecture
          </div>
          <div class="description">
            One of the key tasks during the IA stage was do decide on the navigation experience. I employed the Hub & Spoke design pattern to promote a contextual navigation experience. This pattern would emphasize the importance of the visually appealing dashboards from which users could drill down into pertinent sections. The navigation had to respond well to smaller device sizes, therefore all page headers consisted only of the most essential elements so that they would be mobile friendly.
          </div>
        </div>
      </div>
      <div class="id-section flex-container">
        <div class="id-section-wireframe">
          <div class="section-number-top">
              03
          </div>
          <div class="section-title">
            Interaction Design
          </div>
          <div class="emphasize section-sub-title">Diving In To Wireframing</div>
          <div class="description">
              In this phase I utilized user task flows that I had created during the information architecture stage in collaboration with the product team. The visual representation of the user journeys reduced the number of revisions needed during wireframe reviews.
              My initial wireframes were low-fi hand sketches which evolved to hi-fi wireframes like the one shown below (top left). This was one of the first hi-fi wireframe for the Device Classification Dashboard. The user wanted visibility into device categories, device families and device names seen on network. The wireframe on the right was a result of a few iterations of the initial layout - it is visually appealing and interactive. It can be shown on a large screen in a security controls room or on a small cellphone.
          </div>
        </div>
        <img class="lazy wireframe-img" data-original="assets/images/hpe/dashboard-wireframes.png">
        <div class="label wireframe-label hpe-wireframe-label">
          <div class="blue-label-line label-line"></div>
          <div class="label-title">ITERATING TO STRIKE GOLD</div>
          <div class="label-description">
            From initial concepts to final design, each iteration resulted in better UX.
          </div>
        </div>
        <div class="emphasize section-sub-title">Form Design & Dialog Boxes</div>
        <div class="description id-section-wireframe">
            There were several components that we needed within forms that were not initially available in Grommet. I worked with Grommet's design team to have these components introduced into their library. One such component was the calendar field within forms. A lot of attention was given to layout/ grouping of fields to ensure users could scan forms efficiently.
            A common question brought up during reviews was when to use modals and when to navigate to a new details page. In the world of UX, it is well known that modals don't scale well, however guerrilla user testing revealed that for many shorter forms modals were preferred.
        </div>
        <div class="ia-section flex-container hpe-sitemap-container">
          <div>
            <img class="ia-section-img lazy" data-original="assets/images/hpe/form-wireframes.png">
            <div class="label">
              <div class="blue-label-line label-line"></div>
              <div class="label-title">GRAYSCALE WIREFRAMES</div>
              <div class="label-description">
                The best wireframe style is no style.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four-five-results-container">
    <div class="stripe" id="stripe-two"></div>
    <div class="container-width">
      <div class="visual-design flex-container">
        <div class="visual-img-description clustered-text hpe-visual-img-desciption">
          <div class="section-number-top">
            04
          </div>
          <div class="section-title">
            Visual Design
          </div>
          <div class="description">
              Along with UX design I was also leading the UI and visual design which included complying with Grommet’s design guidelines but at the same time adding to it when needed. Before diving in to the details of the visual design phase I put together several mood boards to define the app’s visual style. Based on feedback from the product and design team it was decided that the mood & style of the app was to be approachable, modern and tech-y; this influenced the color palette for the app.
              <br/>
              There was significant debate between using a dark vs. light UI. The final decision was based on usability: black text on a light UI remains the most readable; the average user would not be spending large blocks of time reading long text heavy pages. Moreover, the application would be used primarily during the day (office hours). Keeping the aforesaid in mind the dark UI would not add much value.
          </div>
        </div>
        <img class="lazy side-visual visual-img-container hpe-visual-img-container" data-original="assets/images/hpe/wireframe-to-visual.png">
      </div>
      <div class="flex-container hpe-vd-descriptions">
        <div class="hpe-vd-description1 description">
          I dug deep to ensure the user interface was kept as <span class="emphasize">clean and simple as possible.</span> All links were consistently styled, icons carefully crafted and interactive elements had appropriate signifiers.
        </div>
        <div class="hpe-vd-description2 description">
          Once the high-fidelity designs were approved, I shared <span class="emphasize"> clickable prototypes</span> on InVision for the developers to inspect. I added contextual comments to communicate expected behavior; doing so streamlined the handoff.
        </div>
      </div>
      <div class="hpe-stacked-image-container">
        <img class="lazy hpe-stacked-visual-img" data-original="assets/images/hpe/stacked-visual.png">
        <div class="label hpe-vd-stacked-image-label">
          <div class="blue-label-line label-line"></div>
          <div class="label-title">LIGHT UI FOR A HEAVY APP</div>
          <div class="label-description">
            The app housed a lot of data and exposed complex filtering capabilities.
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="slider-content">
          <ul class="slider-content-text">
            <li class="slider-content-text-item active">
              <div class="emphasize section-sub-title">Integrated Onboarding</div>
              <div class="description">
                  Onboarding is an important part of UX design because it encourages your users to stay with you. Users did not want isolated walkthroughs and wanted to enter the app straight away. My design solution allows users to learn about application features in an integrated and unobtrusive way.
              </div>
            </li>
            <li class="slider-content-text-item">
              <div class="emphasize section-sub-title">Fun Graphics</div>
              <div class="description">
                  I paired animated graphics (in this case the submarine) with simple text to make the tour less dreary and encourage the users to proceed to the next step.
              </div>
            </li>
            <li class="slider-content-text-item">
              <div class="emphasize section-sub-title">Exit Anytime</div>
              <div class="description">
                  At any point the user can end the tour by clicking the x icon. The user can clearly see at what stage in the tour they are at. They can skip to any step by clicking on the circle icon representative of the step. The user can also navigate sequentially via the the Next and Back buttons.
              </div>
            </li>
            <li class="slider-content-text-item">
              <div class="emphasize section-sub-title">Action Driven Tips</div>
              <div class="description">
                  Previous steps in the tour pointed out important UI components and features in the application. Some tour steps include action-driven tooltips, these are very engaging! I used hand drawn arrows to lighten the mood of action driven tooltips.
              </div>
            </li>
            <li class="slider-content-text-item">
                <div class="emphasize section-sub-title">Help Cues</div>
                <div class="description">
                  All help cues are shown immediately after the tour ends. This screen shows an activated multi page cue. The cues have a subtle pulsing animation to ensure the users know they are interactive and waiting to be opened.
                </div>
            </li>
          </ul>
          <ul class="slider-content-images">
            <li class="slider-content-image-container active">
              <img data-original="assets/images/hpe/visual-slider-1.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-2.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-3.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-4.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-5.png" class="slider-content-image lazy">
            </li>
          </ul>
        </div>
        <ul class="slider-nav">
          <li class="slider-nav-item active"></li>
          <li class="slider-nav-item"></li>
          <li class="slider-nav-item"></li>
          <li class="slider-nav-item"></li>
          <li class="slider-nav-item"></li>
        </ul>
      </div>
    </div>
    <div class="flex-container container-width hpe-interactive-section">
      <img class="lazy side-visual hpe-interactive-img" data-original="assets/images/hpe/interaction.png">
      <div class="hpe-img-description-interactive clustered-text">
        <div class="section-number-top">
          05
        </div>
        <div class="section-title">
          Interactive Components
        </div>
        <div class="description">
          At the finish line, I used the Principle app to animate components. To create these animations, I followed the guidelines from Material Motion, IBM’s Animation Principles, and The UX in Motion Manifesto.
        </div>
        <div class="description">
          I also created a style guide highlighting new components added during this project to the Grommet framework (approved by Grommet’s design team).
        </div>
      </div>
    </div>
    <div class="result-section">
      <div class="flex-container container-width hpe-result-section">
        <div class="hpe-image-description-result clustered-text">
          <div class="section-number-top">06</div>
          <div class="section-title">Results</div>
          <div class="description">
            As the lead UX designer, I presented complex data cleanly, creating an intuitive taxonomy and improving user flow. The clickable design prototypes were showcased at HPE Discover in London and received positive feedback. The redesigned Clearpass App is currently deployed in the large company networks, at over 7,000 organizations, in more than 28 different vertical markets.
          </div>
        </div>
        <img class="lazy side-visual hpe-result-img" data-original="assets/images/hpe/result.png">
      </div>
    </div>
  </div>
  <div class="next-steps">
    <div class="section-title">Be outstanding</div>
    <a href="allProjects" class="btn btn-blue-outline">SEE ALL PROJECTS</a>
  </div>
  <div class="next-prev-links flex-container">
    <a class="link-box emphasize" href="iterisCaseStudy">
      <img class="previous-link-arrow" src="assets/images/caseStudy-left-arrow.svg">
      <span class="previous-link-text">Previous: Iteris</span>
    </a>
    <a class="link-box emphasize" href="zscalerCaseStudy">
      <span class="next-link-text">Next: Zscaler</span>
      <img class="next-link-arrow" src="assets/images/caseStudy-right-arrow.svg">
    </a>
  </div>
  {% include footer.html %}
  <script src="assets/js/ext/jquery-3.1.1.min.js"></script>
  <script src="assets/js/ext/jquery.lazyload.js"></script>
  <script src="assets/js/caseStudy.js"></script>
  <script src="assets/js/slider.js"></script>
</body>
</html>
