<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
  <meta name="author" content="Rashna Razdan">

  <link rel="stylesheet" href="assets/css/homepage.css">
  <link rel="stylesheet" href="assets/css/caseStudy.css">
  <link rel="stylesheet" href="assets/css/hpeCaseStudy.css">
  <link rel="stylesheet" href="assets/css/slider.css">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" href="apple-touch-icon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="apple-touch-icon-16x16.png" sizes="16x16">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#ffffff">

  <style type="text/css">
    .loader {
      height: 100vh;
      width: 100vw;
      background-color: #ffffff;
      opacity: 1;
      transition: opacity 0.5s ease;
      position: fixed;
      z-index: 1;
    }
  </style>

  <title>{{ page.title }}</title>

</head>
<body>
  <div class="loader"></div>
  {% include caseStudyHeader.html %}
  <div class="hpe-banner banner">
    <div class="banner-layer">
      <div class="container-width flex-container">
        <div class="left-container">
          <img class="hpe-logo lazy" data-original="assets/images/hpe/hpe-logo.svg">
          <div class="banner-description" style="font-family: 'Proxima_nova_bold'">
            <canvas class="canvas-text" data-text="Envisioning the digital"></canvas>
            <canvas class="canvas-text" data-text="future of informatics."></canvas>
            <!-- Creating the future of online healthcare. -->
          </div>
        </div>
        <div class="right-container">
          <img class="banner-display lazy" data-original="assets/images/hpe/banner-image.png">
        </div>
      </div>
    </div>
  </div>
  <div class="project-summary hpe-project-summary">
   <div class="container-width flex-container">
      <div class="story">
        <div class="description">
          Iteris is a global leader in applied informatics for transportation and agriculture. The company was growing so new products and departments needed to be represented. The project was divided into multiple phases, I led the UX during Phase 1 and was supported by a team of 3, comprised of 2 Visual Designers and a PM. <a href="http://www.iteris.com/" target="_blank">View live site.</a>
        </div>
      </div>
      <div class="role-section">
        <div class="technologies">
          <div class="header">Technologies</div>
          <ul>
            <li>HTML5/CSS3/LESS</li>
            <li>JAVASCRIPT/JQUERY</li>
            <li>PHOTOSHOP</li>
            <li>SKETCH</li>
          </ul>
        </div>
        <div class="solutions">
          <div class="header">Solutions Provided</div>
          <ul>
            <li>RESEARCH</li>
            <li>INFORMATION ARCHITECTURE</li>
            <li>INTERACTION DESIGN</li>
            <li>VISUAL DESIGN/PROTOTYPE</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="research-section">
    <div class="container-width flex-container">
      <div class="research-section-left hpe-research-section-left">
        <div class="section-number-top">
          01
        </div>
        <div class="section-title">
          Research
        </div>
        <div class="description">
          I dug deep into the analytics data. Google Analytics provided a wealth of historical data that was summarized in Behavior Flow and Navigation Summary reports. In addition, I created persona profiles that I referred to throughout the project; understanding the audience helped to optimize the application's UX.
        </div>
        <img class="research-section-img hpe-research-section-img lazy" data-original="assets/images/hpe/research.png">
        <div class="label">
          <div class="blue-label-line label-line"></div>
          <div class="label-title">Building for real people</div>
          <div class="label-description">
            Fully fleshed-out set of personas
          </div>
        </div>
      </div>
      <div class="research-section-right hpe-research-section-right description">
        I dug deep into the analytics data. Google Analytics provided a wealth of historical data that was summarized in Behavior Flow and Navigation Summary reports. In addition, I created persona profiles that I referred to throughout the project; understanding the audience helped to optimize the application's UX.
      </div>
    </div>
  </div>
  <div class="two-three-container hpe-two-three-container">
  <div class="stripe" id="stripe-one"></div>
    <div class="container-width">
      <div class="ia-section flex-container">
        <div class="ia-left hpe-ia-left">
          <img class="ia-section-img .hpe-ia-section-img lazy" data-original="assets/images/hpe/ia.png">
          <div class="label">
            <div class="blue-label-line label-line"></div>
            <div class="label-title">Solutions dropdown</div>
            <div class="label-description">
              Topic based classification worked well for Iteris.
            </div>
          </div>
        </div>
        <div class="ia-right hpe-ia-right">
          <div class="section-number-top">
            02
          </div>
          <div class="section-title">
            Information Architecture
          </div>
          <div class="description">
            My goal was to organize, optimize and merge the Iteris and ClearAg sites so that all content could be found in an intuitive way. Before I begun creating the new architecture I briefed myself on the business goals behind the web site and the resources available for design and implementation. I also gathered information about the nature and volume of the content that existed on the live site and how that might change in the near future. Lastly, I questioned the stakeholders about the needs of the audience.
          </div>
          <div class="description">
            Throughout this process I engaged with hpe, involving them in decision making and requesting their expertise when needed. We worked together to solve problems.
          </div>
        </div>
      </div>
      <div class="id-section flex-container">
        <div class="id-section-wireframe">
          <div class="section-number-top">
              03
          </div>
          <div class="section-title">
            Interaction Design
          </div>
          <div class="emphasize section-sub-title">Wireframes</div>
          <div class="description">
            Once I had a solid information architecture, I began to produce the wireframes. My detailed wireframes were the cornerstones of the graphic design and development process.
            By wireframing in monochrome, the stakeholders could focus solely on the user experience, interactions design, information architecture and data hierarchy.
          </div>
        </div>
        <img class="lazy wireframe-img" data-original="assets/images/hpe/dashboard-wireframes.png">
        <div class="label wireframe-label hpe-wireframe-label">
          <div class="blue-label-line label-line"></div>
          <div class="label-title">UX decisions</div>
          <div class="label-description">
            Wireframes balanced user and business needs.
          </div>
        </div>
        <div class="emphasize section-sub-title">Wireframes</div>
        <div class="description id-section-wireframe">
          During the wireframing stage I created my own set of symbols and components that we used throughout. This gave a level of consistency to all the wireframes, allowed any other UX designer to easily start wireframing Iteris pages and made it easier for designers to scan and understand what symbols/components represented.
          Moreover, all wireframes were carefully annotated with UX and design notes. The notes gave ample justification for UX decisions and also allowed UI designers to know if clients had strong opinions about the layout. Detailed documentation ensured that information was not lost during handoffs.
        </div>
        <div class="ia-section flex-container hpe-sitemap-container">
          <div>
            <img class="ia-section-img lazy" data-original="assets/images/hpe/form-wireframes.png">
            <div class="label">
              <div class="blue-label-line label-line"></div>
              <div class="label-title">Proposed sitemap</div>
              <div class="label-description">
                Moving towards a well designed hierarchy.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four-five-results-container">
    <div class="stripe" id="stripe-two"></div>
    <div class="container-width">
      <div class="visual-design flex-container">
        <div class="visual-img-description clustered-text hpe-visual-img-desciption">
          <div class="section-number-top">
            04
          </div>
          <div class="section-title">
            Visual Design
          </div>
          <div class="description">
            During the visual design phase, I worked directly with one of the senior designers. The designer used a mix of clean lines, suitable typography, bold colors and unique imagery to create a gorgeous website.
          </div>
        </div>
        <img class="lazy side-visual visual-img-container hpe-visual-img-container" data-original="assets/images/hpe/wireframe-to-visual.png">
      </div>
      <div class="flex-container hpe-vd-descriptions">
        <div class="hpe-vd-description1 description">
          Once I had a solid information architecture, I began to produce the wireframes. My detailed wireframes were the cornerstones of the graphic design and development process.
          By wireframing in monochrome, the stakeholders could focus solely on the user experience, interactions design, information architecture and data hierarchy.
        </div>
        <div class="hpe-vd-description2 description">
          Once I had a solid information architecture, I began to produce the wireframes. My detailed wireframes were the cornerstones of the graphic design and development process.
          By wireframing in monochrome, the stakeholders could focus solely on the user experience, interactions design, information architecture and data hierarchy.
        </div>
      </div>
      <div class="hpe-stacked-image-container">
        <img class="lazy hpe-stacked-visual-img" data-original="assets/images/hpe/stacked-visual.png">
        <div class="label hpe-vd-stacked-image-label">
          <div class="blue-label-line label-line"></div>
          <div class="label-title">UX decisions</div>
          <div class="label-description">
            Wireframes balanced user and business needs.
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="slider-content">
          <ul class="slider-content-text">
            <li class="slider-content-text-item active">First item</li>
            <li class="slider-content-text-item">Second item</li>
            <li class="slider-content-text-item">Third item</li>
            <li class="slider-content-text-item">Fourth item</li>
            <li class="slider-content-text-item">Fifth item</li>
            <li class="slider-content-text-item">Sixth item</li>
          </ul>
          <ul class="slider-content-images">
            <li class="slider-content-image-container active">
              <img data-original="assets/images/hpe/visual-slider-1.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-2.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-3.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-4.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-5.png" class="slider-content-image lazy">
            </li>
            <li class="slider-content-image-container">
              <img data-original="assets/images/hpe/visual-slider-6.png" class="slider-content-image lazy">
            </li>
          </ul>
        </div>
        <ul class="slider-nav">
          <li class="slider-nav-item active"></li>
          <li class="slider-nav-item"></li>
          <li class="slider-nav-item"></li>
          <li class="slider-nav-item"></li>
          <li class="slider-nav-item"></li>
          <li class="slider-nav-item"></li>
        </ul>
      </div>
    </div>
    <div class="flex-container container-width hpe-interactive-section">
      <img class="lazy side-visual hpe-interactive-img" data-original="assets/images/hpe/interaction.png">
      <div class="hpe-img-description-interactive clustered-text">
        <div class="section-number-top">
            05
        </div>
        <div class="section-title">
          Accessibility
        </div>
        <div class="description">
          A report published by the United Nations in 2011 estimated there were 1.3 billion people with disabilities in the world. Accessibility and device compatibility are crucial UX consideration. The wireframes and interactions I made had to be responsive and follow the <a href="https://www.w3.org/TR/WCAG20">Web Content Accessibility Guidelines (WCAG)</a>. During the design phase I encouraged designers to use an accessible color palette, account for color contrast ratios and make the final design touch friendly. Moreover the website's code needed to be compatible with devices like screen readers.
        </div>
        <div class="description">
          By keeping all the aforesaid points in mind, we designed a website that is not only aesthetically clean and appealing, but also accessible.
        </div>
      </div>
    </div>
    <div class="result-section">
      <div class="flex-container container-width hpe-result-section">
        <div class="hpe-image-description-result clustered-text">
          <div class="section-number-top">06</div>
          <div class="section-title">Results</div>
          <div class="description">
            The deadlines were aggressive for this project, and I found myself regularly learning new things and re-working the design or architecture as a result. In the end, we were able enhance content readability and consumption. These improvements increased user interaction, site visit duration, and quantity of content consumed.
          </div>
        </div>
        <img class="lazy side-visual hpe-result-img" data-original="assets/images/hpe/result.png">
      </div>
    </div>
  </div>
  <div class="next-steps">
    <div class="section-title">Be outstanding</div>
    <a href="allProjects" class="btn btn-blue-outline">SEE ALL PROJECTS</a>
  </div>
  <div class="next-prev-links flex-container">
    <a class="link-box emphasize" href="iterisCaseStudy">
      <img class="previous-link-arrow" src="assets/images/caseStudy-left-arrow.svg">
      <span class="previous-link-text">Previous: Iteris</span>
    </a>
    <a class="link-box emphasize" href="zscalerCaseStudy">
      <span class="next-link-text">Next: Zscaler</span>
      <img class="next-link-arrow" src="assets/images/caseStudy-right-arrow.svg">
    </a>
  </div>
  {% include footer.html %}
  <script src="assets/js/ext/jquery-3.1.1.min.js"></script>
  <script src="assets/js/ext/jquery.lazyload.js"></script>
  <script src="assets/js/caseStudy.js"></script>
  <script src="assets/js/slider.js"></script>
</body>
</html>
